@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<Pharmacy_Manage.Models.MedicineRequest>

<h2>Medicine Requests</h2>

<table class="table table-bordered">

    <tr>
        <th>Pharmacist</th>
        <th>Medicine</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.Pharmacist.User.FullName</td>

            <td>@item.Medicine.MedicineName</td>

            <td>@item.Quantity</td>

            <td>@item.Status</td>

            <td>
                @if (item.Status == "pending")
                {
                    <button class="btn btn-success btn-sm"
                            data-bs-toggle="collapse"
                            data-bs-target="#approveForm_@item.RequestId">
                        Approve
                    </button>
                    <div class="collapse mt-2" id="approveForm_@item.RequestId">
                        <form asp-action="Approve" method="post">
                            <input type="hidden"
                                   name="id"
                                   value="@item.RequestId" />
                            <input type="date"
                                   name="expiryDate"
                                   class="form-control mb-1"
                                   required />
                            <button class="btn btn-success btn-sm">
                                Confirm Approve
                            </button>
                        </form>
                    </div>
                    <button class="btn btn-danger btn-sm"
                            data-bs-toggle="collapse"
                            data-bs-target="#rejectForm_@item.RequestId">
                        Reject
                    </button>
                    <div class="collapse mt-2" id="rejectForm_@item.RequestId">
                        <form asp-action="RejectRequest" method="post">
                            <input type="hidden"
                                   name="requestId"
                                   value="@item.RequestId" />
                            <input type="text"
                                   name="reason"
                                   class="form-control mb-1"
                                   placeholder="Enter rejection reason"
                                   required />
                            <button class="btn btn-danger btn-sm">
                                Confirm Reject
                            </button>
                        </form>

                    </div>
                }
            </td>

        </tr>
    }

</table>