@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<Pharmacy_Manage.Models.Pharmacist>

<h2>Pharmacist Requests</h2>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Store</th>
            <th>License No</th>
            <th>License Document</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.User.FullName</td>
                <td>@item.User.Email</td>
                <td>@item.StoreName</td>
                <td>@item.LicenseNumber</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.LicenseDocumentUrl))
                    {
                        <a href="~/uploads/@item.LicenseDocumentUrl"
                               target="_blank"
                               class="btn btn-info btn-sm">
                            View License
                        </a>
                    }
                    else
                    {
                        <span class="text-danger">No File</span>
                    }
                </td>
                <td>@item.VerificationStatus</td>

                <td>

                    @if (item.VerificationStatus == "pending")
                    {
                        <form asp-action="ApprovePharmacist" method="post">
                            <input type="hidden" name="id" value="@item.PharmacistId" />
                            <button class="btn btn-success btn-sm">Approve</button>
                        </form>

                        <form asp-action="Reject" method="post">
                            <input type="hidden" name="id" value="@item.PharmacistId" />
                            <button class="btn btn-danger btn-sm">Reject</button>
                        </form>
                    }

                </td>

            </tr>
        }

    </tbody>

</table>